@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

nav {
    background-color: #1F2937;
    width: 100%;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
}

/* navigational bar */

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
}

.nav_title {
    color: #F9FAF8;
    font-size: 24px;
}

.nav_links li {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0px 15px;
}

/* first container (description and image) */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    width: 100%;
    height: auto;
    padding: 100px 0px;
}

.container_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
}

.container_left h1 {
    font-size: 52px; 
    color: #E5E7EB;
}

.container_left p {
    font-size: 18px;
    color: #F9FAF8;
}

.container_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    width: 50%;
}

.corgi {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}